DemonOrange/Service References/ServiceReference/Upload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetJsom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Txt" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetJsomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJsomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarServico">
        <s:complexType />
      </s:element>
      <s:element name="VerificarServicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarServicoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DandoCarga">
        <s:complexType />
      </s:element>
      <s:element name="DandoCargaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DandoCargaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UltimaAtt">
        <s:complexType />
      </s:element>
      <s:element name="UltimaAttResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UltimaAttResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetJsomSoapIn">
    <wsdl:part name="parameters" element="tns:GetJsom" />
  </wsdl:message>
  <wsdl:message name="GetJsomSoapOut">
    <wsdl:part name="parameters" element="tns:GetJsomResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarServicoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarServico" />
  </wsdl:message>
  <wsdl:message name="VerificarServicoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarServicoResponse" />
  </wsdl:message>
  <wsdl:message name="DandoCargaSoapIn">
    <wsdl:part name="parameters" element="tns:DandoCarga" />
  </wsdl:message>
  <wsdl:message name="DandoCargaSoapOut">
    <wsdl:part name="parameters" element="tns:DandoCargaResponse" />
  </wsdl:message>
  <wsdl:message name="UltimaAttSoapIn">
    <wsdl:part name="parameters" element="tns:UltimaAtt" />
  </wsdl:message>
  <wsdl:message name="UltimaAttSoapOut">
    <wsdl:part name="parameters" element="tns:UltimaAttResponse" />
  </wsdl:message>
  <wsdl:portType name="UploadSoap">
    <wsdl:operation name="GetJsom">
      <wsdl:input message="tns:GetJsomSoapIn" />
      <wsdl:output message="tns:GetJsomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarServico">
      <wsdl:input message="tns:VerificarServicoSoapIn" />
      <wsdl:output message="tns:VerificarServicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DandoCarga">
      <wsdl:input message="tns:DandoCargaSoapIn" />
      <wsdl:output message="tns:DandoCargaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UltimaAtt">
      <wsdl:input message="tns:UltimaAttSoapIn" />
      <wsdl:output message="tns:UltimaAttSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadSoap" type="tns:UploadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJsom">
      <soap:operation soapAction="http://tempuri.org/GetJsom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarServico">
      <soap:operation soapAction="http://tempuri.org/VerificarServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DandoCarga">
      <soap:operation soapAction="http://tempuri.org/DandoCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UltimaAtt">
      <soap:operation soapAction="http://tempuri.org/UltimaAtt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadSoap12" type="tns:UploadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJsom">
      <soap12:operation soapAction="http://tempuri.org/GetJsom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarServico">
      <soap12:operation soapAction="http://tempuri.org/VerificarServico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DandoCarga">
      <soap12:operation soapAction="http://tempuri.org/DandoCarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UltimaAtt">
      <soap12:operation soapAction="http://tempuri.org/UltimaAtt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Upload">
    <wsdl:port name="UploadSoap" binding="tns:UploadSoap">
      <soap:address location="http://54.94.213.182/Upload.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadSoap12" binding="tns:UploadSoap12">
      <soap12:address location="http://54.94.213.182/Upload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>